:root {
  //colors
  --brown: #a52a2a;
  --primary-color: black;
  --secondary-color: white;
  // bg-colors
  --primary-bg-color: var(--brown);
  //text-colors
  --primary-text-color: var(--primary-color);
  --secondary-text-color: var(--secondary-color);
  // padding sections
  --padding-horizontal: 0 2rem;
}

// colors