@import '../../assets/css/variables';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--brown);
  border-radius: 10px;
  height: 248px;
}

.grass {
  background-color: #37da37;
}

.fire {
  background-color: #ff3d3d;
}

.water {
  background-color: #3db1ff;
}

.bug {
  background-color: #b5ffb5;
}

.normal {
  background-color: #b4b4b4;
}

.card-img {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 60%;
}

.card-types {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.card-type {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  background: var(--brown);
  color: var(--secondary-color);
}

.card-name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
}