@import '../../assets/css/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-horizontal);
  height: 100px;
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);

  .left-side {
    a {
      text-decoration: none;
      color: unset;
    }
  }

  .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;

    .user-data {
      margin-right: 2rem;
      font-size: 1.5rem;

      .username {
        font-weight: bold;
      }
    }
  }
}