@import '../../assets/css/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-horizontal);
  height: 120px;
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);

  .left-side {
    a {
      text-decoration: none;
      color: unset;
    }
  }

  .center{
    flex-grow: 1;
    margin: 0 50px;
    justify-content: center;
    align-items: center;
  }

  .right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
    height: 100%;
    padding: 20px 0;
  }
}