@import '../../assets/css/variables';

.header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-horizontal);
  height: 100px;
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  .right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    .username{
      margin-right: 2rem;
    }
  }
}