@import '../../assets/css/variables';

.footer{
  display:flex;
  align-items: center;
  height: 50px;
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  padding: 0 2rem;
}