@import '../../assets/css/variables';

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height: 40px;
  width: 100%;
  font-weight: bolder;
  cursor: pointer;
}

.flat {
  border: 2px solid var(--secondary-color);
  color: var(--brown);
  background-color: var(--secondary-color)
}

.flat:hover {
  color: var(--secondary-color);
  background-color: var(--brown)
}

.solid{
  border: 2px solid var(--brown);
  background-color: var(--brown);
  color: var(--secondary-color);
}

.solid:hover{
  color: var(--brown);
  background-color: var(--secondary-color)
}

// .flat:hover,.solid{
//   border: 2px solid var(--secondary-color);
//   background-color: var(--brown);
//   color: var(--secondary-color);
//   font-weight: bolder;
// }

// .flat:hover{
//   background-color: var(--secondary-color);
//   color: var(--brown);
//   border: 2px solid var(--brown);
// }